* {
    margin: 0;
}

header {
    background-image: url('imgs/sala-estar-moveis-confortaveis.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c4713a;
    padding: 1rem 2rem;
}

.profile-photo {
    height: 200px;
    margin-bottom: 100px;
}

.main-tittle {
    font-size: 100px;
    line-height: 90px;
}

.subtittle {
    font-size: 200px;
}

nav {
    text-align: center;
    background-color: #d48956;
    padding: 10px;
}

nav a {
    color: #e9dfd9;
    font-size: 18px;
    text-decoration: none;
    margin: 0 25px;
}

nav a:hover {
    color: #8D6D58;
}

.box {
    text-align: center;
    padding: clamp(1rem, 5vw, 3rem);
    color: #9f7756;
}

.box h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.box-2 {
    text-align: center;
    padding: clamp(1rem, 5vw, 3rem);
    background-color: #c38861;
    color: #8f6543;
    border-radius: 10px;
}

.box-2 h3 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

/*produtos*/
.Produtos {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.profile-photo-2 {
    background: #f4f4f4;
    padding: clamp(1rem, 3vw, 2rem);
    border-radius: 12px;
    transition: transform 0.3s;
    justify-content: center;
    background-color: #c4713a;
    margin: 20px;
}

.profile-photo-2:hover {
    transform: translateY(-5px);
}

.box_1 {
    background-image: url ('imgs/94555ab9fc2ce2a9406f05d8ac63c51e66c6349aeb724.webp');
}



.box-3 {
    text-align: center;
    padding: clamp(1rem, 5vw, 3rem);
    background-color: #c38861;
    color: #8f6543;
    border-radius: 10px;
}

.box-3 h3 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

section{
    padding: 20px;
    color: #9f7756;
}

#sec-intro ul li {
    list-style: none;
}

#sec-intro ul li:before {
    content: "\2022";
    font-weight: bold;
    color: #9f7756;
    margin-right: 3px;
}

.box-4 {
    text-align: center;
    padding: clamp(1rem, 5vw, 3rem);
    background-color: #c38861;
    color: #8f6543;
    border-radius: 10px;
}

.box-4 h3 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

section-2{
    padding: 20px;
    color: #9f7756;
}

#sec-intro-2 ul li {
    list-style: none;
}

#sec-intro-2 ul li:before {
    content: "\2022";
    font-weight: bold;
    color: #9f7756;
    margin-right: 3px;
}

.box-5 {
    display: flex;
    justify-content: space-between;
    height:140px;
    align-items: center;
    text-align: center;
    background-color: #c38861;
    color: #8f6543;
}

.parte1 {
    width: 200px;
}

.parte2 {
    width: 175px;
}

.parte3 {
    width: 175px;
}

@media (max-width: 600px) {

  .Produtos {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: none;
  }

  .card h3 {
    font-size: 28px;
  }

  header {
    justify-content: center;
  }

}